body {
    display: flex;
    justify-content: center;
    height: 100%;
}
.keyboard-container {
    width: 600px;
    text-align: left;
    position: absolute;
    bottom: 0;
}
.text-area {
    width: 470px;
    height: 300px;
}
.language {
    font-size: 20px;
    font-family: sans-serif;
    border: solid pink;
    box-shadow: 1px 3px 30px 28px rgba(34, 60, 80, 0.2);
    width: 240px;
    margin-bottom: 10px;
}
button {
    margin: 3px;
    background-color: pink;
    box-shadow: 1px 1px 1px 0.5px black;
}
.space_button {
width: 135px;
}
.caps_button {
    width: 80px;
}
.active_capslock {
    background-color: palevioletred;
}
.active {
    background-color: palevioletred;
}
.uppercase {
    text-transform: uppercase;
}

